html {
    background-color: rgb(218, 224, 230);
}

body {
    margin: 0rem;
    padding: 0rem;
    overflow-x: hidden;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgb(218, 224, 230);
}

/* Navigation */
.navbar {
    width: 100%;
    height: auto;
    background-color: white;
}

.navbar-logo {
    padding: 1rem;
}

.navbar-logo-img {
    width: 2%;
    height: auto;
    margin-left: 10rem;
}

.navbar-login-signup {
    float: right;
    margin-right: 10rem;
    margin-top: 1rem;
}

.navbar-login {
    float: left;
    width: 6rem;
    height: 2rem;
    margin-right: 2rem;
    text-transform: uppercase;
    border: 1px solid rgba(77,181,245,1.00);
    border-radius: 4px; 
    color: rgba(77,181,245,1.00);
    background-color: white;
    font-weight: bold;
}

.navbar-login:focus {
    outline: none;
}

.navbar-signup {
    float: right;
    width: 6rem;
    height: 2rem;
    text-transform: uppercase;
    border: 2px solid rgba(77,181,245,1.00);
    border-radius: 4px; 
    color: white;
    background-color: rgba(77,181,245,1.00);
}

.navbar-signup:hover {
    background-color: rgba(29,161,242,1.00);
    border: 2px solid rgba(29,161,242,1.00);
}

.navbar-signup:focus {
    outline: none;
}

/* Mainbody */
.mainbody {
    margin: auto auto auto auto;
    margin-top: 2.5rem;
    width: 75%;
    height: auto;
    /*background-color: white;*/
}

#col2-text {
    margin-top: 1.5rem;
    padding-left: 30px;
    padding-top: 15px;
    resize: none;
    border: 0px;
    border-radius: 4px; 
    border: 1px solid #cccccc;
    border-radius: 4px; 
    background-color: white;
}

#col2-text:focus {
    outline: 0px;
}



/* Columns */
/* 
.col1 {
    width: 23%;
    float: left;
    text-align: center;
    height: 16rem;
    border-radius: 4px; 
    background-color: rgb(157,157,157);
    box-shadow: 2px 2px 4px black;
}

.col1-userwrapper {
    background-color: none;
}
*/

.col2 {
    width: 49%;
    float: left;
    text-align: center;
    height: 50rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.col2-newpostings {
    margin: auto auto auto auto;
    margin-bottom: 2.5rem;
    padding: 2rem;
    padding-top: 0;
    border: 1px solid #cccccc;
    border-radius: 4px; 
    background-color: white;
    width: 30rem;
}

#col2-submit-button {
    width: 5rem;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid;
    border-radius: 4px; 
    border-color: rgba(77,181,245,1.00);
    color: white;
    background-color: rgba(77,181,245,1.00);
    font-weight: bold;
}

#col2-submit-button:hover {
    background-color: rgba(29,161,242,1.00);
    border-color: rgba(29,161,242,1.00);
}

#col2-submit-button:focus {
    outline: none;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
.rate {
    position: absolute;
    margin-left: 9.5rem;
    margin-right: 10rem;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;    
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #ffc700;  
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #ffc700;
}

.col3 {
    width: 23%;
    float: left;
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    height: 42rem;
    border: 1px solid #cccccc;
    border-radius: 4px; 
    background-color: white;
}

.col3-top-item-idea {
    margin-bottom: 1rem;
}

.col3-top-item-name {
    float: left;
    margin-left: 5rem;
}

.col3-rating {
    float: right;
    margin-right: 5rem;
}
/*
.col3-top-item-idea {
    margin: auto auto auto auto;
    width: 15rem;
    background-color: red;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.col3-top-item-idea > li > h4 {
    margin: 0;
    float: left;
    margin-left: 2.3rem;
}

.col3-rating {
    float: left;
    margin-left: 2rem;
}
*/